body{
    margin: 0px;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

a{
    text-decoration: none;
}

.img-overview{
    position: absolute;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    color: white;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form{
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
}

input.auth{
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 10px 15px;
    
}

input.auth:focus{
    outline: none;
}

button.login{
    padding: 12px 20px;
    background-color:#0C8CE9;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.brand-name {
    font-family: "Cute Font", system-ui;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slideshow-container {
    width: 400px;
    overflow: hidden;
    position: relative;
    user-select: none; 
  }
  
  .slide {
    width: 400px;
    height: 200px;
    float: left;
    transition: transform 0.5s ease;
    -webkit-user-select: none; /* Disable text selection for WebKit browsers */
    -moz-user-select: none; /* Disable text selection for Mozilla Firefox */
    -ms-user-select: none; /* Disable text selection for Microsoft Edge */
    user-select: none; 
    cursor: grab;
    text-align: center;
  }
  
  .navigation-bars {
    margin-top: 20px;
  }
  
  .navigation-bar {
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: #333;
    margin-right: 5px;
  }
  